{% extends 'layout.html' %}
    
{% block content %}
    <div class="row">
        <div class="col-xs-12">.col-xs-10</div>
        <div class="col-xs-4">
            <br>jjjj
            <br>jjjj
        </div>
        <div class="col-xs-8">
            <div id="mainplot" style="width: 600px;height:400px;"></div>
        </div>
        <div class="col-xs-12">.col-xs-10</div>
    </div>

{% endblock %}


{% block js %}
<script type="text/javascript" src="/static/securities/main_page.js"></script>

<script type="text/javascript">
        var myChart = echarts.init(document.getElementById('mainplot'));     
        myChart.setOption(option);

    </script>
{% endblock %}